.infoContainer {
  display: flex;
  align-items: center;
  gap: 50px;
}

.textContainer {
  flex: 1;
}

.description a {
  text-decoration: underline;
  color: #60040f;
}
.title {
  font-size: 64px;
  /* margin-bottom: 32px; */
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userImageContainer {
  width: 50px;
  height: 50px;
  position: relative;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.userTextContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* color: var(--softTextColor); */
}

.username {
  font-size: 20px;
  font-weight: 500;
}

.imageContainer {
  flex: 1;
  height: 350px;
  position: relative;
}

.image {
  object-fit: cover;
}

.content {
  display: flex;
  gap: 50px;
}

.post {
  flex: 5;
  margin-top: 48px;
}

.post img {
  width: 600px;
}
.post h5 {
  font-size: 1.2rem;
}

.post h5 a {
  text-decoration: none;
}

.post ul {
  margin-inline-start: 2rem;
  padding-bottom: 0.5rem;
}

.post li {
  padding-top: .5rem;
}
.description p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 1rem;
}
.description iframe {
  width: 100vw;
  height: 600px;
}

.publish{
  position: absolute;
  top: 75px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

@media screen and (max-width: 1536px) {
  .title {
    font-size: 54px;
    color: var(--softTextColor);
  }
}
@media screen and (max-width: 1280px) {
  .title {
    font-size: 48px;
    color: var(--softTextColor);
  }
}
@media screen and (max-width: 1024px) {
  .imageContainer {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .title {
    font-size: 36px;
    color: var(--softTextColor);
  }
  .post img {
    width: 100%;
  }

  .description p {
    font-size: 18px;
  }
}
