.container {
  margin-bottom: 50px;
  align-items: center;
  gap: 50px;
  width: 400px;
  border-radius: 1rem;
}

.container h5 {
  padding-top: 1rem;
  margin: 0px;
}

.imageContainer {
  flex: 1;
  height: 350px;
  position: relative;
}

.image {
  object-fit: cover;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.date {
  color: gray;
  text-transform: none;
  font-size: 0.8rem;
}

.category {
  color: #60040f;
  font-weight: 500;
}

.desc {
  font-size: 18px;
  font-weight: 300;
  color: var(--softTextColor);
}

.desc a {
  text-decoration: underline;
  color: #60040f;
}

.link {
  color: #60040f;
  width: max-content;
  padding: 2px 0px;
}

@media screen and (max-width: 1280px) {
  .imageContainer {
    display: none;
  }
}
